
.sl-dropdown-menu > li:hover > a,
.owl-prev:hover, .owl-next:hover,
.links li a:hover,
.products-tab li a:hover, 
.products-tab li a.select-filter,
.language-switcher > ul li a:hover,
.currency-switcher > ul li a:hover,
.button-checkout:hover ,
.sl-sub-dropdown-menu > li:hover > a,
.products-list-content .product-buttons li.cart a:hover,
.products-list-content .product-buttons li a:hover,
.sl-dropdown.open a:after,
.sl-buttons .btn.active, 
.pagination > li > a:hover,
.pagination > li > a.current,
.page-button li a:hover,
.qty-up:hover,
.qty-down:hover,
.up-count:hover,
.down-count:hover,
.edit-group li:hover,
.btn-default,
.blog-block-more a:hover,
.sl-testimonials ,
.cost-price-content  .noUi-handle-lower,
.cost-price-content  .noUi-handle-upper,
.social .link li a:hover i,
.twitter li:hover i,
.box-login {
	background-color: #ca3219;
}

.button-checkout,
.price-box .regular-price .price, 
.price-box .special-price .price,
.sl-owl .owl-item .media-heading,
.static-media:hover h4 a,
.product-buttons li a:hover,
.mobile-collapse .opener,
.product-options-bottom .cart a,
.products-list-content .product-buttons li.cart a ,
.products-list-content .stock-avai .in-stock > span,
.tab-content .opener i,
.continue ,
.checkout-total .item-total .check-content,
.t-default,
.blog-block-title a:hover,
.blog-block-more a,
.blog-recent li:hover a,
.blog-recent li:hover span,
.nav-dropdown li a:hover,
.nav-dropdown li a.active,
.email-footer:hover a,
.info-list li:hover a,
.tweet-text .full-name:hover,
.tweet-text .pretty-link,
.timePosted a:hover,
.contact-infomation ul li a:hover,
.box-register p a,
.language-switcher .tongle,
.currency-switcher .tongle,
.hot-line,
.static-media:hover .amz-icon ,
.cart-count:hover  {
	 color: #ca3219;
}


.owl-prev:hover, 
.owl-next:hover,
.products-tab li a:hover, 
.products-tab li a.select-filter,
.product-options-bottom .cart a,
.products-list-content .product-buttons li.cart a ,
.sl-buttons .btn.active,
.pagination > li > a:hover,
.pagination > li > a.current,
.page-button li a:hover,
.blog-block-more a,
.social .link li a:hover i,
.button-checkout  {
	border-color: #ca3219;
}




.top-link,
.static-media:hover > .pull-left,
.sl-tab > li.active > a,
.sl-tab > li.active > a:hover,
.sl-tab > li.active > a:focus,
.sl-tab > li > a:hover,
.sl-tab > li.active > a,
.btn-toogle-res-menu



 {
	border-top-color: #ca3219;
}


.mega-nav .level0.active > a, 
.mega-nav .level0:hover > a {
	-webkit-box-shadow: 0 -2px 0px #ca3219;
  -moz-box-shadow: 0 -2px 0px #ca3219;
  box-shadow: 0 -2px 0px #ca3219;
}

.btn-toogle-res-menu {

	-webkit-box-shadow: 0 4px #FFF inset, 0 8px #ca3219 inset, 0 12px #FFF inset, 0 20px #ca3219 inset;
	-moz-box-shadow: 0 4px #FFF inset, 0 8px #ca3219 inset, 0 12px #FFF inset, 0 20px #ca3219 inset;
	box-shadow: 0 4px #FFF inset, 0 8px #ca3219 inset, 0 12px #FFF inset, 0 20px #ca3219 inset;

}