



/* Header Top */



@media only screen and (min-width : 320px) and  (max-width : 992px) {
	
	.language-currency,
	.account-profile {
		text-align: center;
	}
	.language-currency .inner,
	.account-profile .links {
		display: inline-block;
	}
	.account-profile .links {
		float: none;
		padding: 0;
	}


}



@media screen and (max-width: 1199px) {

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


	/* Responsive menu */
	.btn-toogle-res-menu{
        display: block;
    }
    .mega-nav  {
    	display: none;
    }

    .static-media h4 a {
    	font-size: 22px;
    }

    /* Footer */
    .timePosted i {
    	display: none;
    }
    .footer .products-list-content .product-item {
		margin-bottom: 20px;
    }
    .footer .block-title { 
		margin: 0;
		font-size: 20px;
		padding: 15px 0;
    }
    .footer .panel-collapse .block-title  {
    	font-size: 16px;
    }

    .qty {
    	float: none;
    	display: inline-block;
    	margin-top: 20px;
    }
    .edit-group li a {
    	padding: 5px 10px;
    }

    .testimonials-user {
    	border-right: 0;
    }
    /* Testitmonial */
    .testimonials-user {
    	font-size: 22px;
    }
	
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


	/* Product list page */

	/* sl-static-block */
	.sl-static-block .static-media {
		margin-bottom: 20px;
	}

	/* Client */
	.clients-list li {
		margin-bottom: 10px;
	}

	/* Testimonial */
	.sl-testimonials .testimonials-user {
		border: 0;
	}

	.sl-main-content .col-md-9.pull-right {
		float: none !important;
	}

	.product-list .item-title a {
		font-size: 20px;
	}

	.product-buttons.button-inline li {
		vertical-align: top;
		margin-bottom: 5px !important;
	}
	.details-page .product-buttons.button-inline li {
		margin-bottom: 20px !important;
	}
	.products-list-content .product-buttons li.cart a {
		font-size: 15px;
		padding: 4px 15px;
	}

	/* Table Shopping Cart */
	.tbl-title.visible-phone {
		font-size: 15px;
		display: block;
		margin-left: -15px;
		margin-bottom: 10px;
		line-height: 25px;
	}
	.sl-cell .hidden-phone {
		display: none;
	}
	.sl-cell div[class*="col-md-"] {
		float: left;
	}
	.choose-options2 {
		margin-bottom: 20px;
	}
	.edit-group {
		float: left;
		margin-left: 30px;
	}
	.qty-input {
		width: 120px;
	}

	/* Detail Page */
	.qty {
    	float: right;
    	display: inline-block;
    	margin-top: 0;
    }

	/* Footer */
	.mobile-collapse .collapse {
		display: none;
	}
	.mobile-collapse .opener,
	.mobile-collapse .collapse.in {
		display: block;
	}

	/* Testimonial */
	.testimonials-user {
		padding: 20px 0 0;
	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.top-cart-wrapper:hover .top-cart-title {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}

	.top-cart-wrapper:hover .top-cart-content {
	  opacity: 0;
	}
	.top-cart-wrapper.active .top-cart-title {
	  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	}
	.top-cart-wrapper.active .top-cart-content {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}


	.logo,
	.header .hotline-yourcart {
		text-align: center;
	}
	.title-cart h2 {
		display: none;
	}
	.top-cart-title {
		min-width: 0;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-right {
		border: 0;
	}
	.navbar-form {
		padding: 0;
	}
	.btn-search {
		right: 5px;
	}
	.links {
		padding: 0;
	}
	.products-wrap .product-item-wrap {
		margin-bottom: 20px;
	}

	.products-tab.offset-left-20 {
		margin-left: 3px
	}
	.products,
	.sl-blog {
		padding: 0 0 20px;
	}
	.clients-list li {
		margin-bottom: 10px;
	}

	.sl-ads {
		display: inline-block;
		padding-right: 10px !important;
	}


	/* Tabs */
	.amz-tabs .sl-tab {
		display: none;
	}
	.amz-tabs .panel-title {
		display: block;
	}
	.tab-content > .tab-pane {
		margin-bottom: 20px;
		padding: 0;
		opacity: 1;
		display: initial;
	}
	.tab-content > .collapse.in {
		display: block !important;
	}


	/* Footer Copyright */
	.source.pull-left {
		float: none !important;
		text-align: center;
		margin-bottom: 10px;
	}
	.pay-method {
		text-align: center;
	}

	.page-top {
		text-align: center;
		margin: 15px 0
	}

	.page-top .sl-dropdown.pull-left,
	.page-top .sl-button-group.pull-right {
		float: none !important;
	}
	.page-top .sl-dropdown.pull-left {
		display: block;
		margin: 0 auto 20px;
	}

	.category-image .content h3 {
		font-size: 40px;
	}

	.item-content .item-title {
		margin-top: 15px;
	}
	
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 470px) {

	/* Header */
	.links li {
		float: none;
		display: inline-block;
	}
	.qty {
    	float: none;
    	display: inline-block;
    	margin-top: 20px;
    }
    .product-options-bottom .cart {
    	display: block;
    }
	
	/* Checkout Page */
	.box-register p,
	.box-login  p  {
		padding: 20px;
		font-size: 18px;
	}

	.category-image .content h3 {
		text-align: center;
		font-size: 30px;
	}
	.category-image .content p {
		display: none;
	}
	.language-currency, .account-profile {
		text-align: center;
	}

}

@media only screen and (max-width : 200px) {
	.language-currency, .account-profile {
		text-align: center;
	}

}
