@font-face {
	font-family: 'sleazy-icon';
	src:url('fonts/sleazy-icon.eot?-j1zz1z');
	src:url('fonts/sleazy-icon.eot?#iefix-j1zz1z') format('embedded-opentype'),
		url('fonts/sleazy-icon.woff?-j1zz1z') format('woff'),
		url('fonts/sleazy-icon.ttf?-j1zz1z') format('truetype'),
		url('fonts/sleazy-icon.svg?-j1zz1z#sleazy-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sleazy-"], [class*=" sleazy-"] {
	font-family: 'sleazy-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sleazy-icon-email:before {
	content: "\e600";
}
.sleazy-icon-bags:before {
	content: "\e601";
}
.sleazy-icon-pain:before {
	content: "\e602";
}
.sleazy-icon-shirt:before {
	content: "\e603";
}
.sleazy-icon-cart:before {
	content: "\e604";
}
.sleazy-icon-compare:before {
	content: "\e605";
}
.sleazy-icon-wishlist:before {
	content: "\e606";
}
